<app-navbar />
<app-page-title title="tenants"/>

<!-- <div class="float" matTooltip="Add new tenant">
  <button mat-raised-button color="primary" (click)="onClickAddNewTenant()">
    +
  </button>
</div> -->

<!-- <div style="margin: 5rem; text-align: center; color: red">
  {{ tenantsData ? (tenantsData | json) : 0 }}
</div>  -->

<div
  style="text-align: center; margin: 3rem; color: salmon"
  *ngIf="!tenantsData"
>
  No properties found
</div>

<table
  border="1"
  cellpadding="5"
  cellspacing="0"
  *ngIf="tenantsData"
  class="property-table"
>
  <thead>
    <tr>
      <!-- <th>Date</th> -->
      <th>Property</th>
      <th>Tenant</th> 
      <th>Rent</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tenant of tenantsData" (click)="onClickRow(tenant)">
      <!-- <td>{{ tenant.created | date}}</td>  -->
      <td>{{ tenant.property_name }}</td>
      <td>{{ tenant.last_name}}, {{ tenant.first_name}}</td>
      <td>{{ tenant.rent_amount }} / {{ tenant.payment_frequency | paymentFrequency}}</td>
    </tr>
  </tbody>
</table>


