<div class="name">Popati</div>

<div class="desc">Smart Property Management</div>

<div class="options">
  <div
    class="signin-btn"
    (click)="onClickGoogleAuth()"
    matTooltip="Sign in with Google"
  >
    <button mat-stroked-button>
      <span class="logo"><img src="assets/logos/google_logo.png" /></span>
      <span class="txt">Continue with Google</span>
    </button>
  </div>

  <div
    class="signin-btn"
    (click)="onClickFacebookAuth()"
    matTooltip="Sign in with Facebook"
  >
    <button mat-stroked-button>
      <span class="logo"><img src="assets/logos/facebook_logo.png" /></span>
      <span class="txt">Continue with Facebook</span>
    </button>
  </div>

  <div
    class="signin-btn"
    (click)="onClickEmailAuth()"
    matTooltip="Sign in with Email and Password"
  >
    <button mat-stroked-button>
      <span class="logo"><mat-icon>email</mat-icon></span>
      <span class="txt">Continue with E-Mail</span>
    </button>
  </div>
</div>

<!-- <div class="btn">
  <button mat-flat-button color="primary" routerLink="/home">demo</button>
</div> -->

<div
  style="text-align: center; margin: 3rem"
  *ngIf="error"
  class="error-message"
>
  {{ error }}
</div>

<app-version />
