<app-navbar />
<div class="title">properties</div>

<div class="float" matTooltip="Add new property">
  <button mat-raised-button color="primary" (click)="onClickAddNewProperty()">
    +
  </button>
</div>

<!-- <div style="margin: 1rem 3rem; text-align: center;">
  {{ propertiesData | json }}
</div>  -->

<div
  style="text-align: center; margin: 3rem; color: salmon"
  *ngIf="!propertiesData"
>
  No properties found
</div>

<table
  border="1"
  cellpadding="5"
  cellspacing="0"
  *ngIf="propertiesData"
  class="property-table"
>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Construction Year</th>
      <th>City</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let property of propertiesData" (click)="onClickRow(property)">
      <td>{{ property.name }}</td>
      <td>{{ property.type }}</td>
      <td>{{ property.construction_year }}</td>
      <td>{{ property.address.city }}</td>
      <td>{{ property.address.city }}, {{ property.address.country }}</td>
    </tr>
  </tbody>
</table>
