<nav>
  <ul class="desktop-nav">
    <li>
      <a routerLink="/home">
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li>
      <a [matMenuTriggerFor]="menuId">
        <mat-icon>menu</mat-icon>
      </a>
    </li>
    <li>
      <a [matMenuTriggerFor]="menuSettings">
        <mat-icon>settings</mat-icon>
      </a>
    </li>
  </ul>
</nav>

<mat-menu #menuId="matMenu">
  <button mat-menu-item routerLink="/id-list">
    <mat-icon>list</mat-icon>
    <span class="btn-txt">id list</span>
  </button>
  <button mat-menu-item routerLink="/id-create">
    <mat-icon>add</mat-icon>
    <span class="btn-txt">new id</span>
  </button>
</mat-menu>

<mat-menu #menuSettings="matMenu">
  <button mat-menu-item routerLink="/user">
    <mat-icon>person_outlined</mat-icon>
    <span class="btn-txt">user</span>
  </button>
  <button mat-menu-item routerLink="/info">
    <mat-icon>info_outlined</mat-icon>
    <span class="btn-txt">info</span>
  </button>
  <button mat-menu-item (click)="onClickLogout()">
    <mat-icon>logout</mat-icon>
    <!-- <span class="btn-txt">new id</span> -->
  </button>
</mat-menu>
