<nav>
  <ul class="desktop-nav">
    <li>
      <a routerLink="/home">
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li>
      <a [matMenuTriggerFor]="menuId">
        <mat-icon>menu</mat-icon>
      </a>
    </li>
    <li>
      <a [matMenuTriggerFor]="menuSettings">
        <mat-icon>settings</mat-icon>
      </a>
    </li>
  </ul>
</nav>

<mat-menu #menuId="matMenu">
  <button mat-menu-item routerLink="/rent-collect">
    <mat-icon> real_estate_agent </mat-icon>
    <span class="btn-txt">collect rent</span>
  </button>
  <button mat-menu-item routerLink="/expenses">
    <mat-icon>attach_money</mat-icon>
    <span class="btn-txt">expenses</span>
  </button>
  <button mat-menu-item routerLink="/properties">
    <mat-icon>apartments</mat-icon>
    <span class="btn-txt">properties</span>
  </button>
  <button mat-menu-item routerLink="/tenants">
    <mat-icon>group</mat-icon>
    <span class="btn-txt">tenants</span>
  </button>
</mat-menu>

<mat-menu #menuSettings="matMenu">
  <button mat-menu-item routerLink="/user">
    <mat-icon>person_outlined</mat-icon>
    <span class="btn-txt">user</span>
  </button>
  <button mat-menu-item routerLink="/info">
    <mat-icon>info_outlined</mat-icon>
    <span class="btn-txt">info</span>
  </button>
  <button mat-menu-item (click)="onClickLogOut()">
    <mat-icon>logout</mat-icon>
    <!-- <span class="btn-txt">new id</span> -->
  </button>
</mat-menu>
