<app-navbar></app-navbar>
<div class="title">Why PockID ?</div>

<div class="desc">
  In today's fast-moving digital world, keeping track of your personal
  identification information (PII) can be a headache. Your PII, which includes
  details like social security number, user IDs, tax number, ticket numbers,
  credit card numbers, email addresses, and more, is essential for various daily
  transactions and services, making it inconvenient to manage.<br />That's where
  <span style="color: var(--primary-color-darker); font-weight: bold"
    >PockID</span
  >
  comes in. It's a really easy-to-use app that helps you sort out your PII, so
  it's all in one handy place. No more digging through piles of papers or
  worrying about it getting lost. With PockID, managing your PII is simple and
  convenient, just the way you like it.
</div>
