<app-navbar></app-navbar>
<div class="title">Why popati?</div>

<div class="desc">
  Managing rental properties can be overwhelming. You have to deal with
  collecting rent, tracking expenses, handling maintenance requests, and
  communicating with tenants. <span style="font-style: italic;">popati</span> makes this easier by offering a simple tool
  that keeps everything in one place. Our goal is to help landlords and property
  managers work more efficiently, reduce stress, and keep finances clear. With
  <span style="font-style: italic;">popati</span>, you can focus on growing your investment while we handle the details.
</div>
