<app-navbar></app-navbar>
<div class="title">Why PockID ?</div>

<div class="desc">
  Tired of searching for passwords and digging through piles of papers?<br /><span
    style="color: var(--primary-color-darker); font-weight: bold"
    >PockID</span
  >
  is here to make your life easier! It's a simple web app aiming to help you
  keep all your important personal identification information (PII), like social
  security numbers, logins, and credit cards, neatly organized on your phone. No
  more hunting for passwords or rummaging through drawers – everything you need
  is right at your fingertips with PockID, wherever you are. Plus, your info
  stays secure on your device, accessible only by you.
</div>
