<app-navbar />
<app-page-title title="expenses" />

<!-- <div style="margin: 5rem; text-align: center;">
  {{ expensesData | json }}
</div> -->

<div class="float" matTooltip="Add new expense">
  <button mat-raised-button color="primary" (click)="onClickAddNewExpense()">
    +
  </button>
</div>

<div
  style="text-align: center; margin: 3rem; color: salmon"
  *ngIf="!expensesData"
>
  No properties found
</div>

<table
  border="1"
  cellpadding="5"
  cellspacing="0"
  *ngIf="expensesData"
  class="property-table"
>
  <thead>
    <tr>
      <th>Date</th>
      <th>Property</th>
      <th>Expense type</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let expense of expensesData" (click)="onClickRow(expense)">
      <td>{{ expense.date_of_expense | date }}</td>
      <td>{{ expense?.expand?.property?.name }}</td>
      <td>{{ expense.expense_type }}</td>
      <td>
        {{ expense?.expand?.property?.address?.country | currency }}
        {{ expense.amount }}
      </td>
    </tr>
  </tbody>
</table>
