<app-navbar />

<div class="options">
  <!-- <button mat-flat-button color="primary" routerLink="/id-list">ID List</button>
  <button mat-flat-button color="primary" routerLink="/id-create">
    New ID
  </button> -->
  <button
    mat-flat-button
    color="primary"
    (click)="tappedButton('Collect rent')"
  >
    rent
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="tappedButton('Enter expense')"
  >
    expense
  </button>
  <button mat-flat-button color="primary" routerLink="/properties">
    properties
  </button>
  <button mat-flat-button color="primary" routerLink="/tenants">tenants</button>
</div>
