.title {
  text-align: center;
  text-transform: uppercase;
  margin: 1rem;
  font-weight: bold;
}

.create-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  form {
    margin: 1rem;
    display: flex;
    flex-flow: column nowrap;
    mat-form-field {
      width: 21rem;
    }
    .row-of-2 {
      width: 21rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      mat-form-field {
        width: 45%;
      }
    }
    .btns {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      button {
        text-transform: uppercase;
      }
    }
  }
}
