.title {
    text-align: center;
    margin: 3rem; 
    font-weight: bold;
    color: var(--primary-color-darker);
} 

.desc {
    text-align: center; 
    margin: 1rem;
    .line-1 {
        margin: 1rem;
    }
}

.newsletter {
    margin: 3rem auto 3rem auto;
    width: 50%;
    @media screen and (max-width: 600px) {
      width: 95%;
    }
    mat-card {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      // background: var(--secondary-color);
      mat-card-content {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        mat-form-field {
          min-width: 90%;
        }
        button {
          margin: 0.4rem auto auto auto;
          min-width: 20%;
        }
      }
    }
  }